<div>
  <ul style="margin-left: 0px; margin-right: 0px; padding-left: 0px;">
    {{#questions}}
      <li data-question-id="{{id}}">
        <h2><a href="https://ldjam.com{{path}}">{{name}}</a></h2>
      </li>
    {{/questions}}
  </ul>
</div>
